/*BUTTONS*/
.nav_btn {
	border: solid 1px #fff;
	padding:5px 15px;
	color: #fff;
}
.info_btn {
	background-color: #0042ff;
	font-size: 12px;
	padding:15px 50px;
	}
.circle_btn {
	width: 35px;
	height: 35px;
	line-height: 35px;
	border-radius: 50%;
	position: absolute;
	z-index: 9999;
	text-align: center;
	top:-75px;
	background-color: #fff;
	color: #000;
	box-shadow: 0 0 20px rgba(0,0,0,.7);
}

/*HEADER*/
header {
	height: 704px;
	background-color: #000;
}
nav {
	height: 187px;
	top: 0;
	left: 0;
	width: 100%;
	position: absolute;
	z-index: 999;
}
.menu {
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: #000;
}
.menu li {
	display: inline-block;
	padding:38px 0;
}
.menu li a{
	color: #fff;
	text-transform: uppercase;
	font-family:'AvenirNext-Medium';
	padding: 11px 36px;
}
.menu li a:hover,
.menu li a:focus {
	text-decoration: none;
	color: #ccccd3;
	border: solid 1px #ccccd3;
	padding: 10px 35px;
	}
	#menu_top {
		margin: 0;
	}
.logo {
	padding: 32px 10px;
}
.logo img{
	height: 30px;
}
/*TITLE BLOCK*/
.title_block {
	/*padding: 15px;*/
	color: #fff;
}
.title_info{
	padding: 215px 0 0;

}
.title_img {
	padding: 110px 0 0 150px;
}
.title_img img{
	height: 650px;
}
.arrow {
	text-align: center;
	position: relative;
	width: 100%;
}
/*WORKS BLOCK*/
.works_block {
	text-align: center;
	padding: 75px 0;
}
.works_block  h3{
	font-family: 'AvenirNext-DemiBold';
	font-size: 32px;
}
.works_block p{
	font-family: 'AvenirNext-Regular';
	font-size: 16px;
}
/*.work_img {
	position: relative;
}
.image_wrap {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(232,69,69,.6);
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	opacity: 0;
}
.work_img:hover .image_wrap{
	opacity: 1;
}
.work_descr {
	color: #fff;
	text-align: center;
	margin:auto;
}*/